# Frontend URLs
FRONT_URL=
FRONT_DEV_URL=

# Backend URLs
BACK_URL=
BACK_DEV_URL=

# Database
MONGODB_URL=

# Auth
COOKIE_ACCESS_NAME=
COOKIE_REFRESH_NAME=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

ACCESS_EXP= # in milliseconds
REFRESH_EXP= # in milliseconds

# Email (SMTP)
EMAIL= # sender email
EMAIL_HOST=
EMAIL_PORT=
EMAIL_PASSWORD=

# Cloudinary
CLOUDIANRY_NAME=
CLOUDIANRY_KEY=
CLOUDIANRY_SECRET=