# Server port
PORT=5000

# Database
MONGODB_URL=

# FRONT URL
FRONT_URL=http://localhost:3000

# Allowed frontend origins for CORS
# Comma-separated list
CORS_ORIGINS=http://localhost:3000

# Cookie options
COOKIE_DOMAIN=localhost
COOKIE_SECURE=false

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
ACCESS_EXP=
REFRESH_EXP=

# Cookie names
COOKIE_ACCESS_NAME=
COOKIE_REFRESH_NAME=

# Cloudinary
CLOUDIANRY_NAME=
CLOUDIANRY_KEY=
CLOUDIANRY_SECRET=

# Email
EMAIL_HOST=
EMAIL_PORT=
EMAIL=
EMAIL_PASSWORD=
